<!-- virement -->

<div *ngIf="data.password" mat-dialog-content>
  <p>Id du destinataire</p>
  <mat-form-field >
    <mat-label>ID</mat-label>
    <input class="input" matInput [(ngModel)]="data.id">
  </mat-form-field>
  <p>Montant (BTC).</p>
  <mat-form-field >
    <mat-label>Montant</mat-label>
    <input class="input" matInput [(ngModel)]="data.amount">
  </mat-form-field>
  <p style="color:red;">Attention cette opération est irréversible !</p>
  <p style="color:red;">Veuillez bien vérifier les informations avant de valider !</p>
</div>
<div *ngIf="data.password" mat-dialog-actions>
  <button style="background-color: #011a02 !important; color:white;" mat-stroked-button class="maja-button" [mat-dialog-close]="data.id+';'+data.amount">Valider le virement.</button>
  <button style="background-color: #5c0303 !important; color:white;" mat-stroked-button class="maja-button" (click)="onNoClick()">Annuler.</button>
</div>

<!--cron-->


<div *ngIf="data.login" mat-dialog-content>
  <p style="color:red;">En cliquant sur valider, vour programmez le virement pour l'ensemble des bénéficiaires sur base du montant disponible à validation.</p>
</div>
<div *ngIf="data.login" mat-dialog-actions>
  <button style="background-color: #011a02 !important; color:white;" mat-stroked-button class="maja-button" [mat-dialog-close]="'valid'">Procéder au virement.</button>
  <button style="background-color: #5c0303 !important; color:white;" mat-stroked-button class="maja-button" (click)="onNoClick()">Annuler.</button>
</div>